Production/ServicesTypes/GameService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Services/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Services/" name="GameServiceService">
<types>
<xsd:schema>
<xsd:import namespace="http://Services/" schemaLocation="http://localhost:8080/Turtles/services/GameService?xsd=1"/>
</xsd:schema>
</types>
<message name="getGameBoardGraph">
<part name="parameters" element="tns:getGameBoardGraph"/>
</message>
<message name="getGameBoardGraphResponse">
<part name="parameters" element="tns:getGameBoardGraphResponse"/>
</message>
<message name="getPlayerCards">
<part name="parameters" element="tns:getPlayerCards"/>
</message>
<message name="getPlayerCardsResponse">
<part name="parameters" element="tns:getPlayerCardsResponse"/>
</message>
<message name="getGameState">
<part name="parameters" element="tns:getGameState"/>
</message>
<message name="getGameStateResponse">
<part name="parameters" element="tns:getGameStateResponse"/>
</message>
<message name="getDeckList">
<part name="parameters" element="tns:getDeckList"/>
</message>
<message name="getDeckListResponse">
<part name="parameters" element="tns:getDeckListResponse"/>
</message>
<message name="playCard">
<part name="parameters" element="tns:playCard"/>
</message>
<message name="playCardResponse">
<part name="parameters" element="tns:playCardResponse"/>
</message>
<portType name="GameService">
<operation name="getGameBoardGraph">
<input wsam:Action="http://Services/GameService/getGameBoardGraphRequest" message="tns:getGameBoardGraph"/>
<output wsam:Action="http://Services/GameService/getGameBoardGraphResponse" message="tns:getGameBoardGraphResponse"/>
</operation>
<operation name="getPlayerCards">
<input wsam:Action="http://Services/GameService/getPlayerCardsRequest" message="tns:getPlayerCards"/>
<output wsam:Action="http://Services/GameService/getPlayerCardsResponse" message="tns:getPlayerCardsResponse"/>
</operation>
<operation name="getGameState">
<input wsam:Action="http://Services/GameService/getGameStateRequest" message="tns:getGameState"/>
<output wsam:Action="http://Services/GameService/getGameStateResponse" message="tns:getGameStateResponse"/>
</operation>
<operation name="getDeckList">
<input wsam:Action="http://Services/GameService/getDeckListRequest" message="tns:getDeckList"/>
<output wsam:Action="http://Services/GameService/getDeckListResponse" message="tns:getDeckListResponse"/>
</operation>
<operation name="playCard">
<input wsam:Action="http://Services/GameService/playCardRequest" message="tns:playCard"/>
<output wsam:Action="http://Services/GameService/playCardResponse" message="tns:playCardResponse"/>
</operation>
</portType>
<binding name="GameServicePortBinding" type="tns:GameService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getGameBoardGraph">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getPlayerCards">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getGameState">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getDeckList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="playCard">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="GameServiceService">
<port name="GameServicePort" binding="tns:GameServicePortBinding">
<soap:address location="http://localhost:8080/Turtles/services/GameService"/>
</port>
</service>
</definitions>